<!-- Main menu. -->
<a-mixin id="menuToolOption" geometry="primitive: sphere; radius: 0.075"
         material="color: #EF2D5E"
         event-set__mouseenter="_event: mouseenter; material.opacity: 0.75"
         event-set__mouseleave="_event: mouseleave; material.opacity: 1"></a-mixin>
<a-mixin id="menuToolText" text="align: center" position="0 0.15 0"></a-mixin>
<a-entity id="menu" look-at="#leftHand" menu visible="false"
          gamestate-bind="menu.enabled: !menu.toolsMenuActive"
          layout="type: circle; radius: 0.3; plane: xy">
  <a-entity mixin="menuToolOption" data-option="update">
    <a-entity mixin="menuToolText" text="value: Update"></a-entity>
  </a-entity>
  <a-entity mixin="menuToolOption" data-option="create">
    <a-entity mixin="menuToolText" text="value: Create"></a-entity>
  </a-entity>
  <a-entity mixin="menuToolOption" data-option="settings">
    <a-entity mixin="menuToolText" text="value: Settings"></a-entity>
  </a-entity>
  <a-entity mixin="menuToolOption" data-options="environment">
    <a-entity mixin="menuToolText" text="value: Environment"></a-entity>
  </a-entity>
</a-entity>
